# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]serSettings/
*.csproj
*.sln


# VSCode
.vscode/


# Rider
.idea/
ProjectSettings/RiderScriptEditorPersistedState.asset


# Mac
.DS_Store


# NUKE
.nuke/temp
!blubuilder.csproj